<table style="height: 193px;" width="555">
<tbody>
<tr>
<td colspan="3">Nama</td>
<td>:</td>
<td>Tes Anjir</td>
<td colspan="4">LOGO<br /><br /><br /><br /></td>
<td>Semester :1/2</td>
<td colspan="2">Tahun :</td>
</tr>
<tr>
<td colspan="3">NIM</td>
<td>:</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Program Studi</td>
<td>:</td>
<td>TI</td>
</tr>
<tr>
<td>No.</td>
<td>Kode</td>
<td colspan="2">Mata Kuliah</td>
<td>&nbsp;</td>
<td>SKS</td>
<td>Kelas</td>
<td colspan="2">Dosen PengasuhHari</td>
<td colspan="2">HariJam</td>
<td>Jam</td>
</tr>
<tr>
<td>1</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>3</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>4</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="5">Jumlah SKS Semester ini<br /><br /><br /></td>
<td>&nbsp;</td>
<td colspan="5">Indeks pada Semester Berikutnya<br /><br /><br /><br /></td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6">Perhatian</td>
<td colspan="6">
<table>
<tbody>
<tr>
<td>
<p>Mengetahui/Menyetujui</p>
<p>Dosen Pembimbing</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>....................</p>
</td>
<td>
<p>Mahasiswa ybs</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>...................</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>